<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/output.css" />
    <link rel="shortcut icon" href="/images/logo/logo.ico" type="image/x-icon" />
    <script src="/js/rename.js" defer></script>
    <title>OnlyFiles</title>
</head>

<body>
    <% if (locals.folderExists && folderExists.length > 0) { %>
    <div class="flex z-10 justify-between items-center absolute left-0 right-0 m-16 p-4 text-white bg-red-700 shadow-2xl shadow-black rounded-2xl">
        <strong>Folder with that name already exists</strong>
        <span class="text-4xl hover:cursor-pointer" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    <% } %>
    <div class="flex flex-col sm:flex-row">

        <%- include("sidebar") %>

        <!-- Root folder -->
        <div class="flex-1 p-4 sm:p-8">

            <!-- Folder path -->
            <div class="text-xl">
                <% if (locals.pathArray) { %>
                <% let cumulativePath = ''; %>
                <% locals.pathArray.forEach(folder => { %>
                <% cumulativePath += folder + "/"; %>
                <a href="/<%= cumulativePath %> " class="hover:underline"> <%= folder %></a> <span class="px-4">/</span>
                <% }) %>
                <% } %>
            </div>

            <!-- If file is opened display it -->
            <% if (locals.file) { %>
            <%- include("file") %>

            <!-- Else display folders and files -->
            <% } else { %>
            <div class="pt-8 h-min grid gap-4 grid-cols-[repeat(auto-fill,minmax(8rem,1fr))]">
                <% if(locals.currentFolder) { %>

                <%- include("folderList") %>
                <%- include("fileList") %>

                <% } %>
            </div>
            <% } %>
        </div>
    </div>
</body>

</html>