<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/output.css" />
    <link rel="shortcut icon" href="/images/logo/logo.ico" type="image/x-icon" />
    <title>OnlyFiles</title>
</head>

<body>
    <% if (flashMessages.error) { %>
    <div class="flex justify-between items-center absolute left-0 right-0 m-16 p-4 text-white bg-red-700 shadow-2xl shadow-black rounded-2xl">
        <strong>Folder with that name already exists</strong>
        <span class="text-4xl hover:cursor-pointer" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    <% } %>
    <div class="flex">
        <%- include("sidebar") %>
        <!-- Root folder -->
        <div class="flex-1 p-8">
            <div class="text-xl">
                <% if (locals.pathArray) { %>
                <% let cumulativePath = ''; %>
                <% locals.pathArray.forEach(folder => { %>
                <% cumulativePath += folder + "/"; %>
                <a href="/<%= cumulativePath %> " class="hover:underline"> <%= folder %></a> <span class="px-4">/</span>
                <% }) %>
                <% } %>
            </div>

            <!-- Display file content if file is opened -->
            <% if (locals.fileContent) { %>
            <h2 class="mt-8 text-2xl">File content:</h2>
            <p> <%= fileContent %></p>

            <!-- Display folders -->
            <% } else { %>
            <div class="pt-8 h-min grid gap-4 grid-cols-[repeat(auto-fill,minmax(8rem,1fr))]">
                <% if(locals.currentFolder) { %>

                <!-- List folders -->
                <% currentFolder.subfolders.forEach(subfolder => { %>
                <div>
                    <a href="<%= currentUrl %>/<%= subfolder.name %>" class="flex flex-col justify-center items-center h-32 hover:bg-blue-300 border-2 border-white hover:border-blue-500">
                        <img src="/images/folder.webp" alt="" class="flex-1 h-16">
                        <%= subfolder.name %>
                    </a>
                    <div class="flex justify-center">
                        <a href="<%= currentUrl %>/<%= subfolder.id %>/delete-folder" class="w-m text-sm text-center hover:text-red-700">Delete</a>
                    </div>
                </div>
                <% }) %>

                <!-- List files -->
                <% currentFolder.files.forEach(file => { %>
                <div>
                    <a href="<%= currentUrl %>/<%= file.name %>" class="flex flex-col justify-center items-center h-32 hover:bg-blue-300 border-2 border-white hover:border-blue-500">
                        <img src="/images/file.webp" alt="" class="flex-1 h-16">
                        <%= file.name %>
                    </a>
                    <div class="flex justify-center">
                        <a href="<%= currentUrl %>/<%= file.id %>/delete-file" class="w-m text-sm text-center hover:text-red-700">Delete</a>
                    </div>
                </div>
                <% }) %>

                <% } %>
            </div>
            <% } %>
        </div>
    </div>
</body>

</html>