<% currentFolder.files.forEach(file => { %>
<div>
    <a href="<%= currentUrl %>/<%= file.name %>" class="flex flex-col justify-center items-center h-32 hover:bg-blue-300 border-2 border-white hover:border-blue-500">
        <img src="/images/file.webp" alt="" class="flex-1 h-16">
        <%= file.name %>
    </a>
    <form action="<%= currentUrl %>/_file" method="post" class="flex justify-center">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="file_id" value="<%= file.id %>">
        <button class="w-m text-sm text-center hover:text-red-700">Delete</button>
    </form>
</div>
<% }) %>