<div class="flex items-center cursor-pointer hover:text-blue-700">
    <p class="edit-file-button my-2 w-m text-center cursor-pointer">Edit file</p>
</div>

<div class="display-file">
    <h1 class="text-4xl"> <%= file.name %> </h1>
    <p class="text-sm">Created at: <span class="font-bold"> <%= file.createdAt %> </span> </p>
    <p class="text-sm">Updated at: <span class="font-bold"> <%= file.updatedAt %> </span></p>
    <p class="text-sm">Size: <span class="font-bold"> <%= file.size %> bytes </span></p>
    <h2 class="text-2xl mt-2">Content:</h2>
    <p> <%= file.content %> </p>
</div>

<form action="<%= currentUrl %>/_file" method="post" class="edit-file flex flex-col w-min hidden">
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="file_id" value="<%= file.id %>">

    <label for="file_name">File name</label>
    <input type="text" name="file_name" id="file_name" value="<%= file.name %>" class="border-2 border-gray-400 text-4xl mb-4">

    <label for="createdAt" class="text-gray-500 text-sm">Created at</label>
    <input type="text" name="createdAt" id="createdAt" value="<%= file.createdAt %>" class="border-2 border-gray-300 bg-gray-200 text-gray-500 text-sm mb-4" disabled>

    <label for="updatedAt" class="text-gray-500 text-sm">Updated at</label>
    <input type="text" name="updatedAt" id="updatedAt" value="<%= file.updatedAt %>" class="border-2 border-gray-300 bg-gray-200 text-gray-500 text-sm mb-4" disabled>

    <label for="size" class="text-gray-500 text-sm">Size</label>
    <input type="text" name="size" id="size" value="<%= file.size %> bytes" class="border-2 border-gray-300 bg-gray-200 text-gray-500 text-sm mb-4" disabled>

    <label for="file_content">Content:</label>
    <textarea name="file_content" id="file_content" cols="30" rows="10" class="border-2 border-gray-400 mb-4"><%= file.content %></textarea>

    <button class="mt-4 px-8 py-2 w-full border-2 text-white bg-blue-500 border-blue-500 rounded-xl font-bold hover:bg-blue-700 hover:border-blue-700">Save changes</button>
</form>